html {
  font-family: Verdana;
  background-color: black;
  color: white;
  text-align: center;
}

.download {
  color: aquamarine;
  font-size: 16px;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

#subheadline {
  font-weight: 21px;
  color: gray;
}

#copyright {
  text-align: right;
  color: gray;
}
